/***********************************************LAYOUT*******************************************************************************/

header {
    
    background-image:url(../img/header.jpg);
    background-position:center center;
    background-size:cover;
    
}

header nav a {
    color:white;
}

header img {
    height: 175px;
    width: 26%;
    
    
}


footer {
    background-color: black;
    color:white;
    height: 192px;
}

main {
    padding:20px;
}

/*********************************************PAGE HOME**************************************************************************/
#home .street-art article img {
    width :844px;
    height: 500px;
    box-shadow: 7px 7px 15px rgba(0,0,1,1);
}

/*#home .street-art article .fa {
    display:block;
}
*/



#home .artistes img {
    width: 400px;
    height: 250px;
}

/**************************************PAGE ARTISTE**********************************************************************************************/
/*.hide{
	display:none;
	opacity:0;
}

#gallery figure:hover img{
	opacity:0.5; 
}

#my-modal{ 
	background:#fff;
	border:1px solid #ccc;
	left:30%;
	padding:15px;
	position:absolute;
	right:30%;
	text-align:right;
	top:50px;
	width:40%;
}


#my-modal .commandes{ 
	display:flex;
	justify-content:space-between;
}

#my-modal .commandes span{
	cursor:pointer;
}

#my-modal img{
	padding-top:5px;
	width:100%;
}*/


