/***********************************************************************************************************************************************************************
******************************************************* MOBILE FIRST ***********************************************************************************************/

/********************************************************** LAYOUT ***************************************************************************************************/
*{
    box-sizing: border-box;
}

header {
    background-image: url(../img/header.jpg);
    background-position: center center;
	background-size: cover;
	text-align:left;
	padding-bottom: 5px;
}

header nav .accueil  {
	text-align: center;
}

header nav .accueil-style {
	text-align: center;
	padding: 4px 10px;
	color: white;
	text-shadow: 2px 2px 1px black;
}

header nav .accueil-style:hover{
	color: black;
	text-shadow: 2px 2px 1px white;
}


header img {
	height: 93px;
	width: 165px;
	padding: 9px 0px 2px 15px;
	transition: transform 0.35s ease;
    display: block;
}

header img:hover{
	transform:scale(1.1);
}

footer {
    background-color: black;
    color:white;
    padding: 15px;
	margin-top: 30px ;
}

footer a{
	color:white;
}

footer a:hover{
	color:pink;
}


/**************************************************** CSS GENERAL **************************************************************************************************/
body{
	margin:0 auto;
	font-family: 'Poor Story', cursive;
	line-height:1.4;
	text-align: center;
}

main a{
	text-align: left;
	text-shadow: 1px 0px 5px rgba(0,0,1,1);
}

article p{
	padding:0 40px;
	text-align: center;
}

h1{
	text-shadow: 2px 7px 5px rgb(150, 8, 39), 8px 10px 0px rgba(0,0,0,0.15);
	font-size: 1.6em;
}

h2{
	text-shadow:2px 7px 5px rgb(251, 183, 0), 8px 10px 0px rgba(0,0,0,0.15);
	font-size: 1.4em;
	padding: 20px 0;
}

h3{
	text-shadow: 2px 7px 5px rgb(71, 122, 227), 8px 10px 0px rgba(0,0,0,0.15);
	font-size: 1em;
}

h1, h2, h3,h4{
	font-family: 'Rock Salt', cursive;
}

h2,h3{
	text-align: left;
}

a{
	text-decoration: none;
	color:black;
}

/******************************************************** PAGE HOME **************************************************************************************************/
#home{
	padding: 0 20px;
}

#home .street-art article img {
    width :100%;
    box-shadow: 7px 7px 15px rgba(0,0,1,1);
}

#home figcaption{
	text-shadow: 1px 0px 5px rgba(0,0,1,1);
}


#home .artistes img {
    width: 100%;
}

#home .align-button{
	display: flex;
	justify-content:space-around;
	padding: 25px 0;
}

/************************************************************ PAGE ARTISTE ********************************************************************************************/

#gallery{
	margin-top: 40px;
}

.presentation img, #gallery img{
	width: 75%;
}

.presentation, #gallery{
	padding:0 20px;
}

.hide{
	display:none;
	opacity:0;
}

#gallery figure{
	cursor:pointer; 
	margin:20px 0; 
	overflow:hidden; 
	position:relative; 
}

#gallery figure:hover img{
	opacity:0.5;
}

#gallery figcaption{
	padding:10px;
	top: -85px; 
	left: 20px; 
	right: 20px; 
}

#my-modal{ 
	background:#fff;
	border:1px solid #ccc;
	left:6%;
	padding:15px;
	position:absolute;
	right:30%;
	top:284px;
	width:90%;
	box-shadow: 7px 7px 15px rgba(0,0,1,1);
}

#my-modal h2{
	text-align: center;
	font-size: 1.1em;
	margin-top: 0;
	padding-top: 0;
}

#my-modal p{
	text-shadow: 1px 0px 5px rgba(0,0,1,1);
}

#my-modal .commandes{ 
	text-align: right;
}

#my-modal .commandes span{
	cursor:pointer;
}

#my-modal img{
	padding-top:5px;
	width:100%;
}
/********************************************************** PAGE LOGIN ********************************************************************************************/

#login {
	padding: 0 20px;
	text-align: center;
}

#login h1{
	
	padding-bottom: 30px;
	font-size: 1.5em;
}

#login label{
	padding:15px 0;
	text-shadow: 1px 0px 5px rgba(0,0,1,1);
	display: block;
}
form{
	text-align: left;
	padding: 0 30px;
}
 button{
	display: block;
	margin-top: 20px;
	color:white;
	background-color:rgb(150, 8, 39); 
	padding: 6px 6px;
	
}

button:hover{
	color:rgb(150, 8, 39);
	background-color:rgba(255, 255, 255, 0.979); 
}
/*********************************************************** PAGE ADMIN **********************************************************************************************/

#admin main{
	padding: 45px 20px;

}

#admin h1{
	padding-bottom: 36px;
	font-size: 1.5em;
}

#admin main a{
	text-align: center;
	padding: 33px 40px 40px;
	font-size: 1.2em;
}
#admin nav {
	display:flex;
    flex-direction:column;
}
/***************************************************** PAGE SHOWWORKSART/SHOWARTIST **********************************************************************************/

#showWorksArt, #showArtist {
	margin: 20px 5px;
	
}

#showWorksArt th, #showArtist th {
	padding-top: 30px
}

#showWorksArt img, #showArtist img{
	width: 100%;
}

#showWorksArt .localisation, #showArtist .description{
	font-size: 0.8em;
	padding-left:5px;
	text-align: justify;
}

#showWorksArt td, #showArtist td {
	padding-bottom: 30px
}

#showArtist .shadow{
	text-shadow: 1px 0px 5px rgba(0,0,1,1);
}

/********************************************************** PAGE ADD ARTIST/ ADD WORKSART *****************************************************************************/

#add textarea, #add-oeuvre textarea{
	width: 100%;
}

#add ul, #add-oeuvre ul{
	padding:0px;
}

#add li, #add-oeuvre li{
	list-style-type: none;
	text-align: left;
	padding: 20px 0;
}

#add label, #add input, #add-oeuvre label, #add-oeuvre input{
	text-shadow: 1px 0px 5px rgba(0,0,1,1);
}

#add .bouton_add{
	border: 1px solid black;
	margin-left: 10px;
	padding: 6px 6px;
	text-shadow: none;
	color:white;
	background-color:rgb(150, 8, 39); 
}

#add .bouton_add:hover{
	color:rgb(150, 8, 39);
	background-color:rgba(255, 255, 255, 0.979);
}
/*********************************************************************************************************************************************************************************************************************************** TABLETTE *********************************************************************************************/

@media screen and (min-width:768px){

	/********************************************************* LAYOUT ***********************************************************************************************/

	header img {
		width: 227px;
		height:121px;
	}


	/****************************************************** CSS GENERAL ***********************************************************************************************/

	main{
		padding:40px 0;
	}
	
	h1{
		font-size: 2em;
	}

	h2{
		font-size: 1.6em;
	}

	h3{
		font-size: 1.4em;
	}

	h4{
		font-size: 1.2em;
		text-align: left;
	}

	/**************************************************** PAGE HOME/ ARTIST *************************************************************************************/

	#home .flex-artist img{
		width:62%;
	}

	#home .flex-artist img:hover{
		opacity: 0.7;
	}

	#artiste figure img, .oeuvre{
		width:60%;
	}
	
	/*********************************************** PAGE SWOWWORKSART/ SHOWARTIST *******************************************************************************/

	#showWorksArt .localisation, #showArtist .description{
		font-size: 1em;
	}

	td, th {
		padding: 0 20px;
	} 

}


/************************************************************************************************************************************************************************************************************************************ DESKTOP **********************************************************************************************/

@media screen and (min-width:1024px){
	
	/******************************************************** LAYOUT ***********************************************************************************************/

	header img {
		width: 330px;
		height:175px;
	}

	/***************************************************** CSS GENERAL ***********************************************************************************************/

	body{
		line-height:1.6;
		font-size: 1.2em;
	}


	h1{
		font-size: 2.5em;
	}

	h2{
		font-size: 2em;
	}

	h3{
		font-size: 1.8em;
	}

	h4{
		font-size: 1.6em;
	}

	/******************************************************** HOME ****************************************************************************************************/
	
	.slider{
		padding: 0 110px;
	}


   /********************************************************** ARTISTE ***********************************************************************************************/

   .presentation, #gallery{
	padding:0 50px;
	}

	.colonne{
		display:inline-block;
	}

	.presentation img{
		width: 45%;
		padding-top: 12px;
		float:left;
		vertical-align: top;
	}

	.presentation p{
		float:right;
		width: 55%;
		padding-left: 85px;
		vertical-align: top;
	}

	article p{
		padding:0px;
	}
}

